<!-- <p>weather-header works!</p> -->
    <div class="weather-head">
        <h1 id="miami" class="text-center display-4">
            {{weatherData?.name}} , {{weatherData?.sys.country}}
           
        </h1> 
        <div class="row">
            <div id="description" class="col-lg-6 text-center"> 
                <div class="currentWeather">
                    <!-- <i id="icon-desc" class="fas fa-cloud fa-4x">
                    </i> -->
                    <img src="http://openweathermap.org/img/wn/{{weatherData?.weather[0].icon}}@2x.png"alt="">
                    <p id="desc" class="weather-text">{{weatherData?.weather[0].description}}</p>
                </div>
            </div>

            <div id="temperature" class="col-lg-6 text-center">
                    {{weatherData?.main.temp}}
                <i class="fas fa-thermometer-half"></i>
            </div>
        </div>
    </div>
