/* You can add global styles to this file, and also import other style files */
.weather{
    border:1px solid white;
    margin-top: 10rem;
    background-color: rgba(0,0,0,0.5);
}

body {
    background-color: cadetblue !important;
}
font{
    color:white;
}
h1{
    color: white;
}
.fas{
    color: white;
}
p{
    color: white;
}
.weather-text{
    
    font-size: 2rem;
}

#temperature{
font-size: 7rem;
color:white;
}