/* You can add global styles to this file, and also import other style files */
.weather{
    border:1px solid white;
    margin-top: 10rem;
    background-color: rgba(0,0,0,0.5);
}

body {
    background-color: cadetblue !important;
}
font{
    color:white;
}
h1{
    color: white;
}
.fas{
    color: white;
}
p{
    color: white;
}
.weather-text{
    
    font-size: 2rem;
}

.borderRound{
    border-radius: 14px;
}

#temperature{
font-size: 7rem;
color:white;
}

#weatherDetailsHeader{
border-top: 1px solid white;
color:white;
font-size: 1.5rem;
}
.currentWeather{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#weatherDetails{
    border-top: 1px solid white;
    color:white;
    font-size: 2rem;
}