
<div class="weather-body">
        <div class="row" id="weatherDetailsHeader">
            <div class="col-lg-4 text-center"><i class="fas fa-tint"></i> Humidity</div>
            <div class="col-lg-4 text-center"><i class="fas fa-wind"></i> Wind Speed</div>
            <div class="col-lg-4 text-center"><i class="fas fa-location-arrow"></i> Wind Degree</div>
        </div>
        <div class="row" id="weatherDetails" >
            <div class="col-lg-4 text-center">75%</div>
            <div class="col-lg-4 text-center">88mph</div>
            <div class="col-lg-4 text-center">207°</div>
        </div>
    </div>